body {
    background-image: url(img/carousel2.jpg);
    background-size: cover;
}

.form-container {
    height: 110vh;
    width: 60%;
    margin: auto;
    position: relative;
    display: flex;
    justify-content: center;
    padding-top: 9vh;
}

.form-container form {
    position: absolute;
    background-color: rgba(255, 192, 203, 0.603);
    border: 1px solid black;
    height: 430px;
    width: 500px;
    text-align: center;
    padding: 20px;
    padding-top: 30px;
    font-family: poppins;
}

.form-container form h1 {
    color: black;
    font-size: 30px;
    text-shadow: 2px 2px 2px white;
    margin-bottom: 20px;
}

.form-container h3 {
    margin-bottom: 10px;
}

.form-container input {
    width: 300px;
    height: 30px;
    text-align: center;
    margin-bottom: 20px;
    background-color: white;
    border: 1px solid black;
}

.form-container hr {
    margin-bottom: 20px;
    height: 1px;
    background-color: black;
    border: none;
}

.form-container textarea {
    width: 400px;
    max-width: 400px;
    height: 100px;
    max-height: 100px;
    margin-bottom: 20px;
    border: 1px solid black;
}

.btn {
    width: 100px !important;
    font-weight: 500;
    background-color: rgb(255, 255, 255);
    color: black;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(235, 235, 235);
}

.btnhr {
    width: 40%;
    margin: auto;
}