* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Belleza', sans-serif;
}

.form-container {
    height: 100vh;
    display: block;
    text-align: center;
    height: 500px;
    margin-top: 38px;
}

form {
    background-color: rgb(243, 151, 151);
    border-radius: 1%;
    width: 500px;
    height: 500px;
    text-align: center;
    padding-top: 25px;
    margin: auto;  
    margin-top: 10px;
}

form h1 {
    padding-bottom: 20px;
    text-shadow: 1px 1px 0 rgb(255, 255, 255);
}

form div {
    margin: 5px;
}

.txt {
    height: 30px;
    width: 198px;
}

.txt2 {
    height: 30px;
    width: 400px;
}

.upload-photo {
    font-size: 15px;
    padding-left: 21px;
}

.line {
    width: 450px;
    margin: auto;
    padding: 20px 0px;
}

.btn {
    height: 30px;
    width: 70px;
}

form div h4 {
    font-size: 15px;
    margin-bottom: 10px;
}

.pay {
    font-size: 13px;
}