* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.form-container {
    height: 100vh;
    display: block;
    text-align: center;
    padding-top: 90px;
}
form {
    background-color: rgb(82, 82, 82);
    border-radius: 1%;
    width: 600px;
    height: 500px;
    text-align: center;
    padding-top: 80px;
    margin: auto;  
}

form div {
    margin: 5px;
}

.txt {
    height: 30px;
    width: 198px;
}

.txt2 {
    height: 30px;
    width: 400px;
}

.upload-photo {
    font-size: 15px;
    padding-left: 21px;
}