.footer-container {
    position: relative;
    bottom: 0;
}

footer {
    display: flex;
    justify-content: space-around;
    background-color:  #ff60f4;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 200px;
    padding-top: 35px;
}

footer div h2{
    margin-bottom: 5px;
}

footer div h5 {
    margin-bottom: 5px;
}
