* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
font-family: 'Poppins', sans-serif;
text-decoration: none;
color: black;
}

/*nav-head style*/
.nav-head {
width: 100%;
background-color: pink;
display: flex;
justify-content: space-between;
padding: 3px 50px;
}

.nav-head-ul {
display: flex;
justify-content: space-between;
align-items: center;
}

.nav-head-ul li {
list-style: none;
}

.nav-head-ul li a {
text-decoration: none;
font-family: 'Poppins', sans-serif;
color: black;
}

.nav-head-ul1 {
width: 400px;
font-size: 10px;
}

.nav-head-ul2 {
width: 100px;
padding-top: 3px;
}

.nav-head-ul2 a {
font-size: 13px;
}

/*Nav-bottom*/
.nav-bottom {
width: 100%;
display: flex;
justify-content: space-between;
background-color: rgb(22, 22, 22);
padding: 0px 50px;
align-items: center;
position: relative;
height: 50px;
}

.nav-bottom a{
  color: white;
}

.nav-bottom img {
height: 40px;
width: 55px;
}

.nav-bottom-ul1 {
display: flex;
list-style: none;
height: 100%;
align-items: center;
}

.nav-bottom-ul1 li {
display: flex;
height: 100%;
}

.nav-bottom-ul1 li a {
padding: 13px 20px; 
transition-duration: 0.5s;
}

.uls li {
  background-color: rgb(22, 22, 22);
}

.uls li a:hover {
background-color: pink;
}

.drop-down {
display: none;
position: absolute;
margin-top: 51px;
transition: all 0.5s ease;
z-index: 100000;
}

.nav-bottom-ul1 li:hover > ul,
.nav-bottom-ul1 li:focus-within > ul,
.drop-down:hover,
.drop-down:focus {
display: block;
}

.drop-down a {
clear: both;
width: 100%;
}

.book-now {
background-color: pink;
color: black !important;
padding: 5px 15px;
}