* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  color: black;
}

/*nav-head style*/
.nav-head {
  width: 100%;
  background-color: #ffa2f9;
  display: flex;
  justify-content: space-between;
  padding: 3px 50px;
}

.nav-head-ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-head-ul li {
  list-style: none;
}

.nav-head-ul li a {
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  color: black;
}

.nav-head-ul1 {
  width: 400px;
  font-size: 10px;
}

.nav-head-ul2 {
  width: 100px;
  padding-top: 3px;
}

.nav-head-ul2 a {
  font-size: 13px;
}

/*Nav-bottom*/
.nav-bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: pink;
  padding: 0px 50px;
  align-items: center;
  position: relative;
  height: 50px;
}

.nav-bottom img {
  height: 40px;
  width: 55px;
}

