* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

table {
    font-family: 'Roboto', sans-serif;
    margin: auto;
    border: 0.1px solid black;
    border-collapse: collapse;
    width: 500px;
    height: 200px;
    margin-top: 20vh;
}

table tr td{
    padding: 10px;
    border: 0.1px solid black;
}

button {
    position: fixed;
    bottom: 20;
    left: 60%;
}

.wid {
    width: 180px;
}

.logo {
    height: 50px;
    width: 60px;
}

.footer {
    height: 10px;
}

.np {
    font-size: 10px;
    border: none;
}

.f {
    font-size: 10px;
    padding: 0;
}

.h {
    text-align: center;
}

.hh {
    padding-top: 10px;
}

.hhh {
    padding-bottom: 10px;
}

ion-icon {
    font-size: 10px;
}

@media only print {
    button {
        display: none;
    }
}