* {
    font-family: 'Belleza', sans-serif;
}

.bg-photo {
    background-image: url(img/bg2.png);
    background-repeat: no-repeat; 
    background-size: cover;
    width: 100%;
    height: 50vh;
    text-align: center;
    padding-top: 8%;
    border-top: 2px solid black;
}

.bg-photo h1 {
    font-family: 'Belleza', sans-serif;
    font-size: 60px;
    text-shadow: 1px 1px 0 #ffffff;
}

.bg-photo h4 {
    font-family: 'Belleza', sans-serif;
    font-size: 25px;
    text-shadow: 1px 1px 0 #ffffff;
    margin-bottom: 30px;
}

.book {
    background-color:  #ff60f4;
    border-top: 1px solid white;
    color: white;
    padding: 10px 15px;
    margin-top: 20px;
    border-radius: 20px;
    text-decoration: none;
    font-family: 'Belleza', sans-serif;
}

.book:hover {
    background-color:  #ff86f7;
}

.packages-container {
    margin-top: 10vh;
    text-align: center;
    margin-bottom: 100px;
}

.packages-container h1 {
    margin-bottom: 10vh;
    color: #ff60f4;
    font-size: 45px;
    text-shadow: 1px 1px 0 #cacaca;
}

.packages {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    margin: auto;
}

.package {
    width: 250px;
    margin: 20px;
    position: relative;
    background-color: hsla(306, 100%, 69%, 0.247);
    height: 350px;
    border: 2px solid hsla(306, 100%, 69%, 0.247);
}

.package img {
    height: 75%;
    width: 100%;
}


.price-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    padding-top: 5px;
}

.price-container h3 {
    color: #ff60f4;
    padding-right: 10px;
    font-size: 25px;
}

.price-container h4 {
    padding-left: 5px;
    font-size: 20px;
}

.package p {
    position: absolute;
    font-size: 13px;
    padding-left: 5px;
    padding-top: 5px;
    text-align: left;
}

.packages-container hr {
    width: 70%;
    margin: auto;
    background-color: pink;
    border: none;
    height: 1px;
}

.online-booking2 {
    text-align: center;
    margin-bottom: 220px;
}

.online-booking2 a{
    background-color:  #ff60f4;
    border-top: 1px solid white;
    color: white;
    padding: 10px 15px;
    margin-top: 20px;
    border-radius: 20px;
    text-decoration: none;
    font-family: 'Belleza', sans-serif;
}

.online-booking2 a:hover {
    background-color:  #ff86f7;
}